- content_for :title do
  About
%h3 Rspec/Cpaybara bahviour/integration testing examples app
%p This app shoul work as a brief example and give quick overview of several ways of testing an rails app.

